.detail {
    font-size: 14px;
    margin: 3px 0;
}

.login-message {
    font-size: 16px;
    margin-top: 20px;
}

.custom-badge {
    padding: 8px 12px; /* Adjust as necessary to get the size you want */
    font-size: 1.2rem; /* Adjust as necessary to increase font size */
}
